@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Take a look at our <a asp-page="/ProtectedForm">protected</a> and <a asp-page="/VulnerableForm">unprotected</a> forms.</p>
</div>
