@page
@model OpenRedirect.ProtectedFormModel
@{
    ViewData["Title"] = "ProtectedForm";
}

<h1>Protected Form</h1>

<form method="post">
    Name:
    <input />
    <input type="submit" value="Send" />
</form>