@page
@model OpenRedirect.VulnerableFormModel
@{
    ViewData["Title"] = "VulnerableForm";
}

<h1>Vulnerable Form</h1>

<form method="post">
    Name:
    <input />
    <input type="submit" value="Send" />
</form>